#gl-canvas {
    border: 2px solid #808080; /* 2px solid red border */
  }

  .container {
    display: flex; /* Enables flexbox */
    align-items: flex-start; /* Aligns children (canvas and controls) to the top */
}

.controls {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  margin-left: 20px; /* Adds some space between the canvas and the controls */
}

.slider-container {
  display: flex;
  align-items: center;
  /* margin-bottom: 5px; */
}

.slider-label {
  margin-left: 10px;
}

.instructions {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}